<!-- STEP 4 -->
<div class="step step-4">
  <h3 class="step-title"><%= answer.questionario_pergunta.pergunta.gsub('{SOFTWARE}', @product.nome) %></h3>
  <div class="styled-select">
    <div class="select">
      <%= builder.select :resposta, grouped_options_for_select(@main_categories, selected: builder.object.resposta), {include_blank: true}, required: answer.questionario_pergunta.required? %>
    </div>
  </div>
</div>
