<div class="row">
    <input type="hidden" name="type">
    <input class="col-lg-11 col-md-11 col-sm-10 col-xs-10 search_input" type="" placeholder="Busca B2BStack" name="">
    <button class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><span class="fa fa-search"></span></button>
    <div id="search_result" class="col-lg-11 col-md-11 col-sm-10 col-xs-10"></div>
    <span class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></span>
</div>

