<header class="terms header-featured">
  <h2 class="banner-title text-center">Termos e Condições</h2>
</header>

<article class="terms-article">
  <div class="container">
    <h3>Subtítulo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>
    
    <h3>Subtítulo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <h3>Subtítulo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <h3>Subtítulo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima fugiat molestias nihil praesentium alias culpa earum. Repudiandae magnam, sapiente! In sit soluta eos nisi voluptate, numquam beatae libero quod!
    </p>
  </div>
</article>