<div class="box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-middle">
        <div class="text-center text-center">
          <h1 class="error-number">404</h1>
          <h2>Desculpe mas não encontramos esta pagina</h2>
          <p>Esta pagina não existe</p>
        </div>
      </div>
    </div>
  </div>
</div>
