<footer id="footer">
  <div id="menu">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre a B2B Stack</a></li>
      <li><a href="#">Navegue por soluções</a></li>
      <li><a href="#">Avalie uma solução</a></li>
      <li><a href="#">Cadastre uma solução</a></li>
      <li><a href="#">Termos de Uso</a></li>
    </ul>
  </div>
  <ul class="icons">
    <li><a href="https://www.facebook.com/B2BStack/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.linkedin.com/company-beta/22286928/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://www.youtube.com/channel/UCOEBD5A8IkuaNjX_hc5GQMA" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; B2BStack.</li>
  </ul>
</footer>