<header class="thanks-header alert">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <h2 class="banner-title">Você precisa estar logado para cadastrar sua solução!</h2>
        <p class="banner-p">Sua solução será enviada para análise e deve ser incluída na base de dados em até 48hs.</p>
      </div>
    </div>
  </div>
</header>

<section class="thanks-section">
  <div class="container">
    <h2 class="text-center">Conecte-se com sua conta Linkedin para cadastrar a solução!</h2>
    <div class="row">
      <div class="col-md-12">
        <a href="/auth/linkedin" class="linkedin-button allign-center">
          <div class="linkedin-logo">
            <%= image_tag('linkedin-2-filled.png') %>
            <div class="slide"></div>
          </div>
          <span class="linkedin-link">Entre com sua conta Linkedin</span>
        </a>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag "devices.png", size: "800x434" %>
      </div>
    </div>
  </div>
</section>
