<header class="new-product banner-image">
  <div class="container">
    <div class="text-center">
      <h3 class="banner-title">Adicione sua solução ao B2B Stack</h3>
      <h4 class="banner-subtitle">Faça parte da maior plataforma de avaliações de soluções B2B do Brasil</h4>
    </div>
    <div class="row">
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-8">

        <div class="banner-image-alert">
          <h4>Alguns produtos não são elegíveis para estar listados aqui, são estes:</h4>
          <ul>
            <li>Produtos B2C (Produtos ao consumidor e não para empresas)</li>
            <li>Aplicativos Móveis que não fazem parte de uma aplicação B2B</li>
            <li>Produtos em estágio de desenvolvimento</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'form', product: @product %>
