<footer class="rodape">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><a href="#">Sobre a B2B Stack</a></li>
            <li><a href="http://blog.b2bstack.net" target="_blank">Blog</a></li>
            <li><%= link_to 'Avalie uma solução', categorias_path %></li>
            <li><%= link_to 'Cadastre uma solução', novo_produto_path %></li>
            <li><a href="#">Termos de uso</a></li>
          </ul>
        </nav>
      </div>

    <div class="col-md-3">
      <ul class="icones-tfy">
        <li><a href="https://www.linkedin.com/company/b2bstack/" class="icon-linkedin" target="_blank"></a></li>
        <li><a href="https://www.facebook.com/B2BStack/" class="icon-facebook" target="_blank"></a></li>
        <li><a href="https://www.youtube.com/channel/UCOEBD5A8IkuaNjX_hc5GQMA" class="icon-youtube" target="_blank"></a></li>
      </ul>
    </div>
  </div>
  <script>
    window.pipzSettings = { enable_chat: true }
  </script>
</footer>
