<% if !current_user
     session[:return_url] = current_url %>

  <div class="modal forgot-password-modal" id="modal-forgot-password">
    <div class="modal-container forgot-password-container">
      <a class="boxclose" onclick="$('#modal-forgot-password').fadeOut();"> <img src="<%= image_path("cancel.svg")%>" alt="cancel"/> </a>

      <div class="account-text">
        Redefinir Senha
      </div>

      <span class="email-disclaimer">
        Insira o endereço de e-mail à sua conta que enviaremos um link de
        redefinição de senha.
      </span>

      <div class="sign-up-form">
        <div class="form fullname">
          <label>Seu e-mail</label>
          <input type="text">
        </div>
      </div>

      <input value="Enviar" type="submit" class="modal-subimit-button">

      <a class="forgot-password-link" onclick="$('#modal-forgot-password').hide(); $('#modal-login').fadeIn();" >
        Retornar ao login
      </a>

    </div>
  </div>

  <script>
    const forgotPasswordModal = document.getElementById('modal-forgot-password');
    window.onclick = event => {
      if (event.target == forgotPasswordModal) {
        $('#modal-forgot-password').fadeOut();
      }
    }
  </script>
<% end %>
