<head>
  <meta charset="utf-8" />
  <title>B2BStack</title>

  <meta name="google-site-verification" content="DA7RwWMCfa8tXD2LnF7O4n1vRBzzYN_OX69kPBExQoA" />
  <meta name="msvalidate.01" content="98641F3BFC81D5E93BF6F183DED6F1BA" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103936445-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-103936445-3');
  </script>

<script>!function(){var a=window.pipz=window.pipz||[];if(!a.initialize)if(a.invoked)window.console&&console.error&&console.error('Snippet included twice.');else{a.invoked=!0;a.methods='formIdentify pageview reset identify track ready page once off on'.split(' ');a.factory=function(c){return function(){var b=Array.prototype.slice.call(arguments);b.unshift(c);a.push(b);return a}};for(var c=0;c<a.methods.length;c++){var d=a.methods[c];a[d]=a.factory(d)}a.load=function(c){var b=document.createElement('script');b.async=!0;var d=document.getElementsByTagName('script')[0];d.parentNode.insertBefore(b,d);b.onload=function(){a=window.pipz;a.initialize({'eCentrack.io':{apiKey:c}},{plan:{track:{}}});};b.src='//loader.pipz.io/v1/1234.d14b1c15/pipz.min.js'};a.SNIPPET_VERSION='4.0.0';a.load('9f0b5f94e137fffb123467')}}();</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NR58QFJ');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Hotjar Tracking Code for beta.b2bstack.net -->
  <script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:781523,hjsv:6};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <meta name="description" content="Seu portal de conhecimento em tecnologias B2B"/>
  <link rel="canonical" href="<%= request.url.split("?").first %>"/>
  <meta property="og:locale" content="pt_BR"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="B2B Stack - Seu portal de conhecimento em tecnologias B2B"/>
  <meta property="og:description" content="Seu portal de conhecimento em tecnologias B2B"/>
  <meta property="og:url" content="http://www.b2bstack.net/"/>
  <meta property="og:site_name" content="B2B Stack"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="Seu portal de conhecimento em tecnologias B2B"/>
  <meta name="twitter:title" content="B2B Stack - Seu portal de conhecimento em tecnologias B2B"/>

  <link href="https://fonts.googleapis.com/css?family=Dosis:300,500,700" rel="stylesheet">

  <link rel="icon" href="http://blog.b2bstack.net/wp-content/uploads/2017/08/xcropped-B2BStack-Logo_Oficial-1-e1503073862831-1-32x32.png.pagespeed.ic.OudzDV9ilU.png" sizes="32x32"/>
  <link rel="icon" href="http://blog.b2bstack.net/wp-content/uploads/2017/08/xcropped-B2BStack-Logo_Oficial-1-e1503073862831-1-192x192.png.pagespeed.ic.JZYkhKzqCO.png" sizes="192x192"/>
  <link rel="apple-touch-icon-precomposed" href="http://blog.b2bstack.net/wp-content/uploads/2017/08/xcropped-B2BStack-Logo_Oficial-1-e1503073862831-1-180x180.png.pagespeed.ic.TuGjG4fhWC.png"/>
  <meta name="msapplication-TileImage" content="http://blog.b2bstack.net/wp-content/uploads/2017/08/cropped-B2BStack-Logo_Oficial-1-e1503073862831-1-270x270.png"/>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '543943629293405');
  fbq('track', 'PageView');
  </script>
  <noscript>
  <img height="1" width="1" alt="facebook-pixel"
  src="https://www.facebook.com/tr?id=574567562882610&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <script>pipz.page();</script>
</head>
