<p>Olá, <%= @user.first_name %></p>
<br/>

<p>Tudo bom? Obrigado por usar a B2B Stack na sua busca de software.</p>

<p>Estamos solicitando sua demonstração de software com <%= @product.nome %> conforme você selecionou na nossa plataforma.</p>

<p>Antes disso, pra melhor te direcionarmos na sua busca de solução, oferecemos uma call de alinhamento. Expectativa de 15 minutos de duração (no máximo).</p>

<p>Pode sugerir dois horários que melhor funcione pra você nos próximos dias para agendarmos?</p>

<p>Abraço,</p>

<br />
<table style="width: 389px;">
  <tbody>
    <tr style="height: 94px;">
      <td style="width: 179px; height: 94px; text-align: center;">
        <span class="isAlink" style="text-decoration: underline;">
          <a href="http://www.b2bstack.net" target="_blank" rel="noopener noreferrer">
            <img src="http://sys-pipz.b2bstack.net/shared/1234/files/b2bstack_logo_oficial.png" width="140" height="null" style="max-width: 100%;" />
          </a>
        </span>
      </td>
      <td style="width: 232px; height: 94px;">
        <p>Eduardo Müller<br />CEO<br />
          <span class="isAlink" style="text-decoration: underline;">
            <a href="mailto:eduardo@b2bstack.net" target="_blank" rel="noopener noreferrer">eduardo@b2bstack.net</a>
          </span>
          <br />(48) 9157-8808
          <br />LinkedIN:
            <span class="isAlink" style="text-decoration: underline;">
              <a href="https://www.linkedin.com/in/eduardosmuller/" target="_blank" rel="noopener noreferrer">eduardosmuller</a>
            </span>
        </p>
        <p>
          <a href="https://www.linkedin.com/company-beta/22286928" target="">
            <img src="http://sys-pipz.b2bstack.net/shared/1234/files/linkedin.png" width="16" height="16" style="max-width: 100%;" />
          </a>&nbsp;
          <a href="https://www.facebook.com/B2BStack/" target="null">
            <img src="http://sys-pipz.b2bstack.net/shared/1234/files/facebook.png" width="16" height="16" style="max-width: 100%;" />
          </a>&nbsp;
          <a href="https://www.youtube.com/channel/UCOEBD5A8IkuaNjX_hc5GQMA" target="null">
            <img src="http://sys-pipz.b2bstack.net/shared/1234/files/youtube.png" width="16" height="16" style="max-width: 100%;" />
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
